<% layout("/layouts/boilerplate") %>
<body>
  <!-- Include Banner -->
  <%- include("../includes/banner.ejs") %>

  <!-- CONTACT FORM SECTION  -->
  <section
    class="float-left w-100 talk-width-our-team-con position-relative main-box padding-top padding-bottom"
  >
    <div class="container wow bounceInUp" data-wow-duration="2s">
      <div class="heading-title text-center">
        <h4 class="text-uppercase">Update Listing</h4>
        <h2 class="">Update Your Property</h2>
        <!-- heading title -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="register-box">
            <form method="POST" action="/listing/<%= listing._id %>?_method=PUT">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="title">Title :</label>
                        <input
                          type="text"
                          class="form_style"
                          value="<%= listing.title %>"
                          name="title"
                          id="title"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label for="price">Price :</label>
                        <input
                          type="number"
                          class="form_style"
                          value="<%= listing.price %>"
                          name="price"
                          id="price"
                        />
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <div class="form-group fon-con">
                        <label for="location">Location :</label>
                        <input
                          type="text"
                          class="mb-md-0 form_style"
                          value="<%= listing.location %>"
                          name="location"
                          id="location"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group fon-con">
                        <label for="country">Country :</label>
                        <input
                          type="text"
                          class="mb-md-0 form_style"
                          value="<%= listing.country %>"
                          name="country"
                          id="country"
                        />
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="row">

                    <div class="col-12">
                      <div class="form-group fon-con">
                        <label for="image">Image :</label>
                        <input
                          type="text"
                          class="mb-md-0 form_style"
                          value="<%= listing.image %>"
                          name="image"
                          id="image"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-0">
                        <label for="description">Description :</label>
                        <textarea
                          class="form_style"
                          name="description"
                          id="description"
                        ><%= listing.description.trim() %></textarea>
                      </div>
                    </div>


                    <div class="col-12"></div>
                      <div class="manage-button ml-3">
                        <button
                          type="submit"
                          class="register_now text-white text-decoration-none w-100"
                        >
                          Update Listing
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- container -->
    </div>
    <!-- talk with our team con -->
  </section>
</body>

