<% layout("/layouts/boilerplate") %>
<body>
  <!-- Include Banner -->

  <%- include("../includes/banner.ejs", { pageTitle: title1 }) %>

  <!-- TOP DESTINATIONS SECTION -->
  <section
    class="float-left w-100 top-destinations-con position-relative padding-top padding-bottom main-box"
  >
  <% if(listings && listings.length){ %>
    <div
      class="container destination-con2 wow bounceInUp"
      data-wow-duration="2s"
    >
      <div class="heading-title text-center">
        <h4 class="text-uppercase"><%= title1 %></h4>
        <h2><%= title2 %></h2>
        <!-- heading title -->
      </div>

      <div class="row">

        <% for(let listing of listings){ %>
        <div class="col-lg-4 col-md-6">
          <div class="destination-box position-relative">
            
            <a href="/listing/<%= listing._id %>">
              <figure>
                <img src="<%= listing.image %>" alt="image" class="img-fluid" />
              </figure>
            </a>
            <div class="bottom-con">
              <span class="d-block text-uppercase">
                <%= listing.location %>
              </span>
              <a href="/listing/<%= listing._id %>">
                <h4 style="font-size: 20px; font-weight: 600">
                  <%= listing.title %>
                </h4>
              </a>
              <p style="font-weight: 500; font-size: 16px;">
                @ Rs.<%= listing.price.toLocaleString("en-PK") %>/ Month
              </p>
              <!-- Reviews Count -->
              <!-- <span class="d-inline-block star-con"
                  ><i class="fa-solid fa-star"></i> 4.9
                  <span class="d-inline-block review-span"
                    >(1.7k Review)</span
                  ></span
                > -->
              <!-- bottom con -->
            </div>
            <!-- destination-box -->
          </div>
        </div>
        <% } %>

        <!-- row -->
        <% } else{ %>
          <h2 class="d-block text-center">No Listing Available</h2>
          <div class="button mt-5 text-center">
            <a href="/listing/new/" class="single-listing-btn"> Create Listing </a>
          </div>

      </div>

      <!-- container -->
    </div>
    <% } %>
    <!-- top destinations con -->
  </section>
</body>
