<% layout("/layouts/boilerplate") %>

  <body>
    <h1>Listing Details :</h1>
    <img src="<%= listing.image %>" alt="listing image">
    <ul>
      <li>Title : <%= listing.title %></li>
      <li>Description : <%= listing.description %></li>
      <li>Price : Rs.<%= listing.price.toLocaleString("en-PK") %></li>
      <li>Location : <%= listing.location %></li>
      <li>Country : <%= listing.country %></li>
    </ul>

    <a href="/listing/<%= listing._id %>/edit">Edit this listing</a>
    <br><br>

    <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE">
      <button>Delete this listing</button>
    </form>
  </body>
