<% layout("/layouts/boilerplate") %>
<body>
  <!-- Include Banner -->
  <%- include("../includes/banner.ejs", { pageTitle: listing.title }) %>

  <!-- Single Blog -->
  <section class="singleblog-section blogpage-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="main-box">
            <figure
              class="image1 mb-3"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <img
                src="<%= listing.image %>"
                alt="image"
                class="img-fluid"
                loading="lazy"
                style="width: 100%"
              />
            </figure>
            <div class="content1" data-aos="fade-up" data-aos-duration="700">
              <h4>
                <%= listing.title %> @ Rs.<%=
                listing.price.toLocaleString("en-PK") %> / Month
              </h4>

              <div class="span-fa-outer-con">
                <i class="fa-solid fa-dollar"></i>
                <span class="text-size-14 text-mr">
                  Rs.<%= listing.price.toLocaleString("en-PK") %> / Month</span
                >

                <i class="mb-0 calendar fa-solid fa-calendar-days"></i>
                <span class="mb-0 text-size-14">
                  <% const date = new Date(listing.createdAt); const dateOptions
                  = { month: 'short', day: 'numeric', year: 'numeric' }; const
                  timeOptions = { hour: '2-digit', minute: '2-digit', hour12:
                  true  }; 
                  const formattedDate = date.toLocaleDateString('en-US',dateOptions); 
                  const formattedTime = date.toLocaleTimeString('en-US', timeOptions);%> 
                  <%= formattedDate %> at <%= formattedTime %>
                </span>

                <i class="fa-solid fa-map-marker-alt ml-1"></i>
                <span class="text-size-14 text-mr">
                  <%= listing.location %>
                </span>

                <i class="fa-solid fa-globe ml-1"></i>
                <span class="text-size-14 text-mr">
                  <%= listing.country.charAt(0).toUpperCase() +
                  listing.country.slice(1) %>
                </span>
              </div>
              <p class="text-size-14"><%= listing.description %></p>

              <div class="button mt-4 d-flex">
                <a
                  href="/listing/<%= listing._id %>/edit"
                  class="single-listing-btn"
                >
                  <i class="fa fa-pencil" style="color: #fff"></i> Edit Listing
                </a>

                <form
                  method="POST"
                  action="/listing/<%= listing._id %>?_method=DELETE"
                >
                  <button
                    style="background-color: red; border: none; cursor: pointer"
                    class="single-listing-btn ml-3"
                  >
                    <i class="fa fa-trash" style="color: #fff"></i> Delete
                    Listing
                  </button>
                </form>
              </div>
            </div>

            <!-- Comments List -->
            <div
              class="content6 mt-5"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <h4><%= listing.reviews.length %> Reviews</h4>
              <% for(review of listing.reviews) { %>
              <div class="comment">
                <div class="mt-3">
                  <h5>
                    Muazzam (<%= review.rating %>
                    <i
                      class="fa fa-star"
                      style="color: var(--mustard-color)"
                    ></i
                    >)
                  </h5>

                  <p class="text-size-14" style="color: var(--mustard-color)">
                    <%= review.createdAt.toLocaleString("en-US", dateOptions) %> at 
                    <%= review.createdAt.toLocaleString("en-US", timeOptions) %>
                  </p>
                  <p class="text-size-14"><%= review.comment %></p>
                  <form action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="single-listing-btn  text-decoration-none" style="background: red; cursor: pointer; border: none;"> <i class="fa fa-trash"></i> Delete</button>
                  </form>
                </div>
              </div>
              <% } %>
              <!-- <div class="comment">
                <div class="mt-3">
                  <h5>Samantha Nicolan</h5>

                  <p class="text-size-14" style="color: var(--mustard-color)">
                    Dec 29, 2022
                  </p>

                  <p class="text-size-14">
                    <%= listing.reviews[1] %>
                  </p>
                </div>
              </div> -->
            </div>

            <div class="content7" data-aos="fade-up" data-aos-duration="700">
              <h4>Leave a Review</h4>
              <form method="POST" action="/listing/<%= listing._id %>/review">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group mb-0">
                      <label for="comment">Write comment</label>
                      <textarea
                        class="form_style"
                        placeholder="Write your comment here..."
                        rows="3"
                        name="comment"
                        id="comment"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group mb-0">
                      <label for="rating">Select Rating</label>

                      <input
                        type="range"
                        class="form_style"
                        name="rating"
                        placeholder="Rating"
                        id="rating"
                        max="5.0"
                        min="1.0"
                        step="0.1"
                        value="3.0"
                        style="padding: 0"
                      />
                    </div>
                  </div>
                </div>

                <div class="button text-center">
                  <button class="post_comment">Post Review</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 column">
          <div class="box1 box1" data-aos="fade-up" data-aos-duration="700">
            <h5>Listing Details</h5>

            <ul class="tag mb-0 list-unstyled">
              <li>
                <i class="fa fa-heading" style="color: #1ec28b"></i> <%=
                listing.title %>
              </li>

              <li class="mt-3">
                <i class="fa fa-calendar-days" style="color: #1ec28b"></i> 
                <%= listing.createdAt.toLocaleString("en-PK", dateOptions) %> at <%= listing.createdAt.toLocaleString("en-PK", timeOptions) %>
              </li>

              <li class="mt-3">
                <i class="fa fa-map-marker-alt" style="color: #1ec28b"></i> <%=
                listing.location %>
              </li>

              <li class="mt-3">
                <i class="fa fa-dollar" style="color: #1ec28b"></i> Rs.<%=
                listing.price.toLocaleString("en-PK") %> / Month
              </li>

              <li class="mt-3">
                <i class="fa fa-globe" style="color: #1ec28b"></i> <%=
                listing.country.charAt(0).toUpperCase() +
                listing.country.slice(1) %>
              </li>
            </ul>

            <div class="button mt-4">
              <a href="#" class="single-listing-btn"> Book Now </a>
            </div>
          </div>
          <div class="box1 box3" data-aos="fade-up" data-aos-duration="700">
            <h5>Follow Us</h5>
            <div class="social-icons">
              <ul class="mb-0 list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none"
                    ><i class="fa-brands fa-linkedin-in social-networks"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none"
                    ><i class="fa-brands fa-instagram social-networks"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none"
                    ><i class="fa-brands fa-facebook-f social-networks"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none"
                    ><i class="fa-brands fa-x-twitter social-networks"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Feeds / Related Products -->
          <!-- <div class="box1 box5" data-aos="fade-up" data-aos-duration="700">
            <h5>Feeds</h5>
            <div class="feed">
              <figure class="feed-image mb-0" data-aos="fade-up">
                <img
                  src="/assets/images/singleblog-feed1.jpg"
                  alt="image"
                  class="img-fluid"
                  loading="lazy"
                />
              </figure>
              <a href="six-colum-full-wide.html" class="mb-0"
                >Why You Need Virtual Assistant for Your Company</a
              >
            </div>
            <div class="feed">
              <figure class="feed-image mb-0" data-aos="fade-up">
                <img
                  src="/assets/images/singleblog-feed2.jpg"
                  alt="image"
                  class="img-fluid"
                  loading="lazy"
                />
              </figure>
              <a href="six-colum-full-wide.html" class="mb-0"
                >Why You Need Virtual Assistant for Your Company</a
              >
            </div>
            <div class="feed">
              <figure class="feed-image mb-0" data-aos="fade-up">
                <img
                  src="/assets/images/singleblog-feed3.jpg"
                  alt="image"
                  class="img-fluid"
                  loading="lazy"
                />
              </figure>
              <a href="six-colum-full-wide.html" class="mb-0"
                >Why You Need Virtual Assistant for Your Company</a
              >
            </div>
            <div class="feed feed4">
              <figure class="feed-image mb-0" data-aos="fade-up">
                <img
                  src="/assets/images/singleblog-feed4.jpg"
                  alt="image"
                  class="img-fluid"
                  loading="lazy"
                />
              </figure>
              <a href="six-colum-full-wide.html" class="mb-0"
                >Why You Need Virtual Assistant for Your Company</a
              >
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</body>
